* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 50px;
  display: grid;
  place-items: left;
  gap: 10px;
}




